
/*Start of head and nav bar*/

#logo_nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

#logo{
    order: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#logo p{
    text-align: center;
}

#events{
    order: 2;
    padding-top: 4%;
}

#tickets{
    order: 3;
    padding-top: 4%;
}

#about{
    order: 4;
    padding-top: 4%;
}

/*Info div*/
#info{
    height: 10%;
    width: 40%;
    background-color: blue;
    margin: auto;
    text-align: center;
}