body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .status-on{
    width: 100px;
    height: 75px;
    background-color: green;
  }

  .status-off{
    width: 100px;
    height: 75px;
    background-color: red;
  }

  #gate{
    width: 100px;
    height: 75px;
  }

  #format{
    width: 100px;
    height: 75px;
  }

 #amount{
  width: 100px;
  height: 75px;
 }